:root {
  --color-black: #212121;
  --color-blue: #2196f3;
  --color-grey: #757575;
  --color-white: #ffffff;
  --color-innative-btn: #f5f4fa;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  background-color: var(--color-white);
  color: var(--color-grey);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* align-items: center; */
}
.list {
  list-style: none;
}
.pad-top {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link:hover,
.link:focus {
  color: var(--color-blue);
}
.head-border {
  border-bottom: 1px solid #ececec;
}
/*  header */

.nav,
header > .container,
.selectors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.img-list {
  margin-top: -30px;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
}
.img-li {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}
.nav-link {
  padding-top: 25px;
  padding-bottom: 33px;
}

/* logo */
.nav-logo {
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-black);
  margin-right: 93px;
}
.logo-web {
  color: var(--color-blue);
}
/* /logo */

/* header */

.nav-list {
  font-weight: 500;
  display: flex;
  align-items: center;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.link {
  text-decoration: none;
  color: var(--color-black);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active {
  color: var(--color-blue);
  position: relative;
}
.active:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: var(--color-blue);
  display: inline-block;
  border-radius: 2px;
  margin: 0;
  padding: 0;
}
.contact-list {
  display: flex;
  margin-left: auto;
}
.contact-item:not(:last-child) {
  margin-right: 40px;
}
.contact-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 500;
  color: var(--color-grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item:hover .contact-list-icon,
.contact-item:focus .contact-list-icon {
  fill: var(--color-blue);
}

/* /header */
/* hero */
.hero-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  justify-content: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}
.hero-section {
  background-color: #c4c4c4;
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bgi.jpeg");
}

/* hero btn */
.btn {
  background-color: var(--color-blue);
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  margin-top: 30px;
}
.order {
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order:focus,
.order:hover {
  color: var(--color-black);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* /hero btn */
/* about */
.feature {
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  display: flex;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.about-list {
  display: flex;
  flex-direction: row;
  margin-top: -30px;
  margin-left: -30px;
}
.discription {
  padding-top: 94px;
  padding-bottom: 47px;
}
.about-list li {
  margin-left: 30px;
  margin-top: 30px;
  /* padding: 5px; */
  flex-basis: calc((100% - 120px) / 4);
}

.about-title {
  text-transform: uppercase;
  color: var(--color-black);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 10px;
  padding-top: 30px;
}

.about-title-p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* about work */
.about-work {
  font-weight: 700;
  color: var(--color-black);
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}
.work-list {
  padding-bottom: 94px;
  padding-top: 47px;
}
.about-work-div {
  position: relative;
}
.about-work-disc {
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  display: block;
  position: absolute;
  height: 70px;
  width: 370px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
/* /about work */
/* team */
.team-section {
  background-color: #f5f4fa;
}
.our-team {
  font-weight: 700;
  color: var(--color-black);
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.card {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employer {
  color: var(--color-black);
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.employer-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}
.employer-card {
  padding: 30px 32px;
  background-color: #fff;
}




/* footer*/




.footer-logo {
  color: var(--color-white);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
  font-style: normal;
}
.footer-color {
  background-color: #2f303a;
}
.div-footer {
  display: flex;
  flex-direction: row;
}
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-white);
}
.link-footer {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer:hover,
.link-footer:focus {
  color: var(--color-blue);
}
.footer-form-container{
  margin-top: 12px;
  margin-left: 93px;
  display: flex;
}
.footer-form-input{
  width: 358px;
  background-color: transparent;
  color:var(--color-white);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
}
.spam-btn{
  fill:white;
  cursor:pointer;
  margin-top: 33px;
  margin-left: 12px;
  height: 50px;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
display: flex;
  color: var(--color-white);
  background-color: var(--color-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.spam-btn:hover,
.spam-btn:focus {
  fill:var(--color-blue);
  color: var(--color-blue);
  background-color: var(--color-innative-btn);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-filter {
  background-color: var(--color-innative-btn);
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--color-black);
  font-family: Roboto;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-filter:hover,
.btn-filter:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.galery-title {
  color: var(--color-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.galery-text {
  color: var(--color-grey);
  font-size: 16px;
  line-height: 1.9;
}
/* portfolio */
.selectors {
  justify-content: center;
  margin-bottom: 50px;
}
.selectors > .list:not(:last-child) {
  margin-right: 8px;
}

/* tile */
.tile-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.title-li {
  display: block;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.title-li:hover,
.title-li:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: transparent;
}

.galery-title {
  margin-bottom: 4px;
}
.about-galery-card {
  padding: 63px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
  position: relative;
  overflow: hidden;
}
.link-al {
  display: block;
}
.link-al:hover .about-galery-card,
.link-al:focus .about-galery-card {
  transform: translateY(0%);
}

.gallery-card {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.contacts-mar {
  margin-bottom: 9px;
}
.social-link-list {
margin-top: 16px;
}
.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-list {
  justify-content: space-between;
  display: flex;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--color-blue);
}
.social-list-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--color-white);
}

.clients {
  padding-top: 94px;
  font-weight: 700;
  color: var(--color-black);
  text-align: center;
  font-size: 36px;
  padding-bottom: 50px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
.clients-title {
  font-size: 36px;
}
.clients-link-list {
  justify-content: center;
  display: flex;
}
.clients-list-item:not(:last-child) {
  margin-right: 30px;
}
.clients-list-item {
  margin-top: 50px;
}
.clients-list-icon {
  padding: auto;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-link {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
  fill: var(--color-blue);
}
.clients-list-link:hover,
.clients-list-link:focus {
  fill: var(--color-blue);
  border: 1px solid var(--color-blue);
}
.our-social-list-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-list-icon-wite {
  fill: #fff;
}
.join-list {
  margin-top: 12px;
  margin-left: 70px;
}
.join {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: var(--color-white);
}
.our-social-link-list {
  display: flex;
  flex-direction: row;
}
.our-social-list-item {
  padding-right: 10px;
}
.our-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* modal-form */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.btn-close {
  fill: black;
  justify-content: center;
  align-items: center;
  display: block;
  margin: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover .btn-close,
.close-btn:focus .btn-close {
  fill: var(--color-blue);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-black);
  margin-bottom: 12px;
}

.modal-form-field {
  font-size: 12px;
  line-height: 1.2;
  color: var(--color-grey)
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
 
}

.modal-form-input {
  font-size: 16px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--color-blue);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  fill: var(--color-black);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--color-blue);
}

.modal-form-message {
  font-size: 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 8px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--color-blue);
}

.modal-form-message::placeholder {
  color: var(--color-grey);
  opacity: 50%;
}

.modal-form-input:focus:not(:placeholder-shown):valid {
  border-color: green;
}

.modal-form-input:focus:not(:placeholder-shown):invalid {
  border-color: red;
}



.modal-form-policy-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 20px;
}

.modal-form-policy-label::before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
  /* background-color: tomato; */
}
.modal-form-icon-checkbox{
  width: 17px;
  height: 17px;
  cursor: pointer;
    position: absolute;
    display: block;
    fill: white;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-policy-link{
  color:var(--color-blue);
}
.modal-form-checkbox-wrapper {
  position: relative;
}

.modal-form-checkbox:checked ~ .modal-form-policy-label::before {
 background-color: var(--color-blue);
}

.modal-form-checkbox:focus ~ .modal-form-policy-label::before {
outline: 2px solid blue;

}
.modal-form-btn{
  font-weight: bold;
font-size: 16px;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  color:var(--color-white);
  background-color: var(--color-blue);
  border-radius: 4px;
  border: none;
  letter-spacing: 0.06em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:focus,
.modal-form-btn:hover {
  color: var(--color-black);
  background-color: lightblue;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}





